:root {
  --brand-color-1: #1abc9c;
  --brand-color-2: #2ecc71;
  --brand-color-3: #3498db;
  --text-color: #444;
  --heading-color: #222;
  --link-color: #3273dc;
  --code-background: #f2f2f2;
  --blockquote-border: #999;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--text-color);
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {

  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

nav a {
  margin-right: 10px;
}

textarea,
input {
  width: 100%;
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: var(--code-background);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--blockquote-border);
  color: var(--heading-color);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
