---
import BaseLayout from '../layouts/BaseLayout.astro'
import WebForm from '../components/WebForm.astro'
import { contact } from '../consts/pages'
const { h1, title, description } = contact
---

<BaseLayout h1={h1} title={title} description={description}>
  <main>
    <WebForm />
  </main>
</BaseLayout>
