---
import ButtonCTA from '../components/ButtonCTA.astro'
import HomeServices from '../components/HomeServices.astro'
import HomeSocialProof from '../components/HomeSocialProof.astro'
import HomeFAQ from '../components/HomeFAQ.astro'
import HomeContact from '../components/HomeContact.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { home } from '../consts/pages'
import WebForm from '../components/WebForm.astro'
const { h1, title, description } = home
---

<BaseLayout h1={h1} title={title} description={description}>
  <div slot='header'>
    <div class='flex justify-center'>
      <ButtonCTA href='/request-quote'>Request a Free Quote</ButtonCTA>
    </div>
  </div>
  <HomeServices />
  <div class='mx-auto w-full'>
    <h2 class='text-center text-3xl mt-10 mb-4 font-semibold'>
      Request A Free Quote
    </h2>
    <div class='w-full lg:w-[800px] mx-auto border shadow-md rounded-lg'>
      <WebForm />
    </div>
  </div>
  <HomeSocialProof />
  <HomeFAQ />
  <HomeContact />
</BaseLayout>
