---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title='Testimonials & Reviews | MossAway Roof Moss Removal, Victoria BC'
  description=''
  h1='Reviews & Testimonials'
>
  <div class='m-6'>
    <h1>Coming soon...</h1>
  </div>
</BaseLayout>
