---
import SiteNavbar from '../components/SiteNavbar.svelte'
const { h1 } = Astro.props
---

<header
  aria-label='Page header'
  class='bg-center bg-cover text-white text-center'
>
  <SiteNavbar client:load />
  <div id='header-content' class='p-8'>
    <h1 class='text-3xl font-extrabold leading-none mb-5 sm:text-4xl'>{h1}</h1>
    <slot />
  </div>
</header>
