---
export interface AstroProps {
  ariaLabel: string
  href: string
}

const { ariaLabel, href } = Astro.props
---

<a href={href} class='cta-btn' aria-label={ariaLabel}>
  <slot />
</a>

<style>
  .cta-btn {
    background-color: var(--brand-color-2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cta-btn:hover {
    background-color: var(--brand-color-3);
  }
</style>
