---
export interface AstroProps {
  ariaLabel: string
  href: string
}

const { ariaLabel, href } = Astro.props
---

<a href={href} class='cta-btn' aria-label={ariaLabel}>
  <slot />
</a>

<style>
  .cta-btn {
    background-color: var(--brand-color-2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: none;
  }

  .cta-btn:hover {
    background-color: var(--brand-color-3);
    letter-spacing: 3px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }
</style>
