---
import ButtonCTA from './ButtonCTA.astro'
---

<section
  class='hero bg-contain bg-center flex flex-col justify-center items-center text-white py-20 px-6'
>
  <div>
    <h1 class='text-6xl font-bold leading-tight mb-6 text-center'>
      Expert Roof Moss Removal and Treatment
    </h1>
    <h2 class='text-2xl font-semibold mb-8 text-center'>
      Safe, Affordable, and Environmentally Friendly Solutions
    </h2>
    <div class='flex justify-center'>
      <ButtonCTA href='/request-quote'>Request a Free Quote</ButtonCTA>
    </div>
  </div>
</section>
