---
import { heroImage } from '../consts/image'
---

<section
  class='hero bg-cover bg-center flex flex-col justify-center items-center text-white py-20 px-6'
>
  <img
    src={heroImage.src}
    alt={heroImage.alt}
    class='w-full h-full object-cover absolute inset-0 z-0'
  />
  <div class='relative z-10'>
    <h1 class='text-6xl font-bold leading-tight mb-6 text-center'>
      Expert Roof Moss Removal and Treatment
    </h1>
    <h2 class='text-2xl font-semibold mb-8 text-center'>
      Safe, Affordable, and Environmentally Friendly Solutions
    </h2>
    <div class='flex justify-center'>
      <a
        href='/request-quote'
        class='bg-accent1 text-secondary hover:bg-yellow-500 font-medium rounded-lg px-8 py-4 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110 mx-auto'
      >
        Request a Free Quote
      </a>
    </div>
  </div>
</section>
