---
import { phone, address, email } from '../consts/contact'
import ButtonCTA from './ButtonCTA.astro'
---

<section class='bg-white py-12'>
  <div class='max-w-6xl mx-auto px-6'>
    <h2 class='text-3xl font-extrabold mb-8 text-center'>Get In Touch</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
      <div class='flex flex-col gap-4'>
        <p class='text-gray-700 mb-4 prose prose-xl'>
          Do you have a question about our services or want to request a quote?
          Fill out our contact form and we'll get back to you as soon as
          possible.
        </p>
        <ButtonCTA href='/contact'>Get in Touch</ButtonCTA>
      </div>
      <div>
        <p class='text-gray-700 mb-4 cursor-pointer'>
          <strong>Phone:</strong>
          <a href={`tel:${phone.primary}`}>{phone.primary}</a>
        </p>
        <p class='text-gray-700 mb-4 cursor-pointer'>
          <strong>Email:</strong>
          <a href={`mailto:${email.primary}`}>{email.primary}</a>
        </p>
        <p class='text-gray-700 mb-4'>
          <strong>Contact Hours:</strong> Monday-Friday 9am-5pm
        </p>
        <p class='text-gray-700 mb-4'>
          <strong>Area of Operations:</strong> Greater Victoria Area, BC
        </p>
      </div>
    </div>
  </div>
</section>
